*{
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
}

.logo{
    height: 150px;
    border-radius: 50%;
}

.seccion-arriba{
    background-color: rgb(250, 154, 199);
    color: rgb(109, 0, 51);
    border-top: solid violet;
    border-bottom: solid violet;
    text-align: center;
}

main{
    padding-bottom: 50px;
}

.fondo-seccion{
    background-color: rgb(241, 167, 229);
    text-align: center;
}

.contenedor-1{
    padding-left: 30px;
    padding-top: 50px;
}

footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 168, 236);
}

.secciones-footer{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.secciones-footer a{
    text-decoration: none;
    line-height: 32px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.secciones-footer a:hover{
    color:#8767ac;
    font-weight: bold;
    border-bottom: #8767ac double;
}











































/*css del header (home)"*/
/*
header{
    background-color: rgb(255, 168, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    height: 250px;
}

.items-header{
    display: flex;
    flex-direction: row;
    padding-right: 180px;
}

.items-header li{
    display: flex;
    flex-direction: row; 
}

.items-header li a{
    text-decoration: none; 
    color: beige;
    font-weight: 600;
    padding-right: 70px;
    font-size: 20px;
}

.items-header li a:hover{
    color: #a07cc9;
}


/*css del section del home*/
/*
.fondo-seccion{
    background-image: url("../img/seccion-kawaii.jpg");

}

h1{
    text-align: center;
    padding: 25px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px rgb(255, 0, 212);
}
h2{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 25px;
    text-shadow: 1px 1px rgb(255, 0, 212);
}


/*css del main*//*
.total-productos{
    padding-left: 70px;
    padding-bottom: 50px;
}

.tamaño-imgs{
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin: 10px;
    border: solid #a07cc9 ;
}

.productos1{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

/*css del footer*/
/*
footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 168, 236);
}

.secciones-footer{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.secciones-footer a{
    text-decoration: none;
    line-height: 32px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.secciones-footer a:hover{
    color:#8767ac;
    font-weight: bold;
    border-bottom: #8767ac double;
}

*/